# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# formats
**/*.csv
**/*.tsv
**/*.dat
**/*.json

# folders
**/umn_foursquare_datasets/
**/ipynb_checkpoints/
/.ipynb_checkpoints

**/test1/
**/test2/
**/test3/

**/quiz1/
**/quiz2/
**/quiz3/